@import url("https://fonts.googleapis.com/css?family=Roboto:400,700&display=swap");
@import url("https://fonts.googleapis.com/css?family=Poppins:700&display=swap");
@import url("https://fonts.googleapis.com/css?family=Redressed&display=swap");
* {
  overflow-x: hidden;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body a {
  color: #1e2e1c;
  text-decoration: none;
}

body li {
  list-style: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Poppins', sans-serif;
  font-size: 2rem;
  color: #1e2e1c;
}

p,
li,
a:link,
a:visited,
a:hover {
  font-family: 'Roboto', sans-serif;
  font-size: 1rem;
  color: #1e2e1c;
}

.btn-primary {
  padding: 0.7em 1.2em;
  margin: 0.3em;
  border-width: 3px;
  border-style: solid;
  border-radius: 5px;
  color: white;
  background-color: #1e2e1c;
  border-color: #1e2e1c;
  border-radius: 25px;
  -webkit-box-shadow: 0 0 6 #1e2e1c;
          box-shadow: 0 0 6 #1e2e1c;
}

.btn-secondary {
  padding: 0.7em 1.2em;
  margin: 0.3em;
  border-width: 3px;
  border-style: solid;
  border-radius: 5px;
  color: #1e2e1c;
  background-color: none;
  border-color: #d5d2d9;
}

.btn-tertiary {
  padding: 0.7em 1.2em;
  margin: 0.3em;
  border-width: 3px;
  border-style: solid;
  border-radius: 5px;
  color: #1e2e1c;
  background: none;
  border: none;
}

.product-card {
  width: 50px;
  height: auto;
}

.product-card img {
  width: inherit;
  height: 50px;
  -o-object-fit: cover;
     object-fit: cover;
}

.product-card p,
.product-card button {
  display: block;
}

header .brand {
  display: block;
  text-align: center;
}

header #menu-toggler {
  display: none;
}

header .menu-icon {
  position: fixed;
  opacity: 0;
}

header .nav-menu ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

@media only screen and (max-width: 768px) {
  header {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-flow: row;
            flex-flow: row;
    background: #1e2e1c;
  }
  header .nav-menu {
    margin-left: auto;
    position: relative;
  }
  header .nav-menu .menu-icon {
    position: static;
    opacity: 1;
    color: white;
  }
  header .nav-menu ul {
    position: absolute;
    top: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  header .nav-menu ul .nav-item {
    color: black;
  }
}

.showcase {
  width: 100vw;
  height: 90vh;
  background-image: url(../../img/showcase/showcase-image.jpg);
  background-size: cover;
  background-position: center;
  text-align: center;
  position: relative;
}

.showcase .showcase-title {
  min-width: 80%;
  max-width: 100%;
  position: absolute;
  top: 15%;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}

.showcase .btn-primary {
  position: absolute;
  bottom: 5%;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}

header .brand {
  font-family: 'Redressed', sans-serif;
  font-size: 1.7rem;
  color: #1e2e1c;
  margin: .6em;
}

header .nav-item {
  font-family: 'Tw Cen MT';
  padding: 0 1.2em;
  padding-bottom: .7em;
}

.showcase h1 {
  font-size: 3rem;
}

.showcase .btn-primary {
  font-size: 1rem;
  padding: 0.8em 1.5em;
  -webkit-box-shadow: 0px 0px 20px #1e2e1cab;
          box-shadow: 0px 0px 20px #1e2e1cab;
}

@media only screen and (max-width: 768px) {
  header .brand {
    font-size: 1.5rem;
    color: rgba(255, 255, 255, 0.884);
  }
}
/*# sourceMappingURL=main.css.map */