@import './variables';

* {
  overflow-x: hidden;
  box-sizing: 0;
  padding: 0;
  margin: 0;
}

body {
  color: $foreground-default;

  a {
    color: $foreground-default;
    text-decoration: none;
  }

  li {
    list-style: none;
  }
}
