@import url('https://fonts.googleapis.com/css?family=Roboto:400,700&display=swap');
@import url('https://fonts.googleapis.com/css?family=Poppins:700&display=swap');
@import url('https://fonts.googleapis.com/css?family=Redressed&display=swap');

@mixin baseText {
  font-family: 'Roboto', sans-serif;
  font-size: 1rem;
  color: $foreground-default;
}

@mixin headerText {
  font-family: 'Poppins', sans-serif;
  font-size: 2rem;
  color: $foreground-default;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  @include headerText;
}

p,
li,
a {
  @include baseText;
}

.navigation {
  &__logo {
    font-family: 'Redressed', sans-serif;
    font-size: 1.6rem;
  }

  .menu {
    &__item:hover {
      background-color: rgba(245, 245, 245, 0.644);
      cursor: pointer;
      @include transitionBackground;
    }

    .active {
      border-bottom: 2px solid $primary;
    }
  }
}

@media only screen and (max-width: $breakpoint-md) {
  .navigation {
    .menu {
      .active {
        border: none;
        background-color: rgba(16, 104, 16, 0.171);
      }
    }
  }
}