//  COLORS
$deepGreen: #1e2e1c;
$leafyGreen: #4f7302;
$redSoil: #732e07;
$lightGrey: #e4e4e4;
$grey: #d5d2d9;
$darkGrey: #908e92;
$white: #ffffff;

//  THEME
$primary: $deepGreen;
$accent: $redSoil;

$foreground-default: $deepGreen;
$foreground-light: $grey;
$foreground-dark: $darkGrey;

$background-default: $lightGrey;
$background-light: white;

//  BORDER
$borderRadius: 10;

//  RESPONSIVE BREAKPOINTS
$breakpoint-sm: 576px;
$breakpoint-md: 768px;
$breakpoint-lg: 992px;
$breakpoint-xl: 1200px;
